@model EF_CODE_Deneme.Models.Yayinevleri
@{
    ViewData["Title"] = "Edit";
}
<h1>Kitap Türünü Düzelt</h1>

<div class="row">
    <div class="col-sm-6">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Ad">Yayınevi Adı</label>
                <input type="text" asp-for="Ad" class="form-control">
                <label asp-for="Adres">Adres</label>
                <input type="text" asp-for="Adres" class="form-control">
                <label asp-for="Tel">Telefon</label>
                <input type="text" asp-for="Tel" class="form-control">
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary">
                </div>
            </div>
        </form>
        <a class="btn btn-success" asp-action="Index">Yayınevleri Listesine Geri Dön</a>
    </div>
</div>