@model EF_CODE_Deneme.Models.Uyeler
@{
    ViewData["Title"] = "Details";
}
<h1>Detay Sayfası</h1>
<div class="row">
    <div class="col-sm-6">
        <label class="fw-2">ID:</label>
        <label class="text-danger">@Model.Id</label>
    </div>
    <div class="col-sm-6">
        <label class="fw-2">Üye Ad Soyad:</label>
        <label class="text-success">@Model.AdSoyad</label>
    </div>
        <div class="col-sm-6">
        <label class="fw-2">Cinsiyet:</label>
        <label class="text-primary">@Model.Cinsiyet</label>
    </div>
</div>
<a class="btn btn-primary" asp-action="Index">Üyeler Listesine Geridön</a>
