@model Category
@{
    ViewData["Title"] = "Create-Page";
}

<h1>Create a New Category</h1>

<div class="row">
    <div class="col-sm-6">
        <form asp-action="Create">
            <label asp-for="CategoryName"></label>
            <input type="text" asp-for=CategoryName  class="form-control">
            <label asp-for="CategoryDescription"></label>
            <input type="text" asp-for="CategoryDescription" class="form-control">
            <div>
                <input type="submit" value="Save" class="btn btn-success">
            </div>
        </form>
        <a asp-action="Index" class="btn btn-primary">Back to Category List</a>

    </div>
</div>